table
{
    border:solid 0.2px rgb(120, 120, 140); 
    border-collapse: collapse;
    margin-top:30px;
    font-family:Arial, Helvetica, sans-serif;
    float:left;
    table-layout: fixed;
    width:100%;
    font-size:12px
  
}
tr
{
 border:solid 0.2px rgb(120, 120, 140); 
   
 
}
td
{
    border:solid 0.2px rgb(120, 120, 140);
    padding-right: 13px;
    padding-left: 4px; 
    padding-top: 4px; 
    padding-bottom: 4px; 
    width: 7.7%;
   
}
th{
     
    padding-right: 13px;
    padding-left: 4px; 
    padding-top: 4px; 
    padding-bottom: 4px; 
    width: 7.7%;
    background-color: #178417; 
    color:white
  
}
.hd{
    text-align: left;
    padding-left:8px;
}
.bold{
    font-weight: bold;
    font-size: 11px;
}
.text-success
{
    color: green;
}
.border-success
{
    border:solid 1px green;
}
.bg-success
{
    background-color: #01ff00;
}
.text-bold
{
    font-weight: bold;
}
.logo
{
    
    float: left;
}
.heading
{
    width:100%;
    border:solid 1px black
}
.org
{
    float: left;
    padding:5px;
}
.left{
    float:left;
    width:50%;
    text-align: left;
}
.right
{
    float:left;
    width:50%;
    text-align: right;
}
.ref
{
    width:100%;
}
.receiver
{
    margin-top: 70px;
}
.obj
{
    margin-top: 60px;
    text-align: center;
}
.moto
{
    text-align: center;
}
.sign
{
    margin-top: 80px;
}
